* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-size: 1.5rem;
    color: rgb(251, 253, 255);
}

h1 {
    text-align: center;
    margin-bottom: 0.5%;
    color: rgb(85, 85, 92);
}

body {
    background-color: #b1e0f6;
}

.container {
    background-color: rgb(85, 85, 92);
    padding: 1rem;
    width: 100%;
    max-width: 27rem;
    margin: 0 auto;
}

.wrapper {
    width: 100%;
    margin: 0 auto;
    text-align: center;
}

.slider {
    display: flex;
    overflow: hidden;
    width: 100%;
}

.slide {
    width: 100%;
    max-width: 25rem;
}

.slide img {
    border-radius: 3%;
    transition: transform 0.5s ease-in-out;
}

.wrapper>input {
    display: none;
}

.slider-controls {
    display: flex;
    margin-top: 0.84rem;
}

.slides-description {
    overflow: hidden;
    max-width: 16.25rem;
    width: 70%;
    display: flex;
}

.slide-description1,
.slide-description2,
.slide-description3,
.slide-description4,
.slide-description5,
.slide-description6 {
    font-size: 1.2rem;
    text-align: left;
    width: 100%;
    flex-shrink: 0;
    transition: transform 0.5s ease-in-out;
}

.wrapper .slider-controls .pagination {
    display: flex;
    gap: 0.29rem;
    width: 20%;
}

label {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    width: 1.25rem;
    height: 1.25rem;
    padding: 0.21rem;
}

span {
    cursor: pointer;
    display: inline-block;
    height: 0.83rem;
    width: 0.83rem;
    border-radius: 50%;
    content: '';
    background-color: #b1e0f6;
    transition: .5s;
}

span:hover {
    background-color: rgb(255, 254, 254);
}


#slide1:checked~.slider {
    transform: translateX(0);
}

#slide2:checked~.slider img {
    transform: translateX(-100%);
}

#slide3:checked~.slider img {
    transform: translateX(-200%);
}

#slide4:checked~.slider img {
    transform: translateX(-300%);
}

#slide5:checked~.slider img {
    transform: translateX(calc(-400%));
}

#slide6:checked~.slider img {
    transform: translateX(-500%);
}

#slide1:checked~.slider-controls label[for="slide1"] span,
#slide2:checked~.slider-controls label[for="slide2"] span,
#slide3:checked~.slider-controls label[for="slide3"] span,
#slide4:checked~.slider-controls label[for="slide4"] span,
#slide5:checked~.slider-controls label[for="slide5"] span,
#slide6:checked~.slider-controls label[for="slide6"] span {

    border: 0.083rem solid white;
    background-color: rgb(42, 158, 212);

    &:hover {
        background-color: rgb(61, 61, 61);
        transition: .5s;
    }
}

#slide1:checked~.slider-controls .slides-description div {
    transform: translateX(0);
}

#slide2:checked~.slider-controls .slides-description div {

    transform: translateX(-100%);
}

#slide3:checked~.slider-controls .slides-description div {

    transform: translateX(-200%);
}

#slide4:checked~.slider-controls .slides-description div {
    transform: translateX(-300%);
}

#slide5:checked~.slider-controls .slides-description div {
    transform: translateX(calc(-400%));
}

#slide6:checked~.slider-controls .slides-description div {
    transform: translateX(-500%);
}